.clients{background-color: #fbf5f4;padding:30px; width:85%; float:left; margin-top:60px;
background-image:url('/images/test_03.png'); top left;}
.clients img{position: relative;top: -60px;right: 0;width: 115%;display:none;}
.clients h4{color: rgb(51,51,51);font-family: "youngserifregular"; font-size:16px; margin:10px 0;}
.clients span{color: rgb(51,51,51);font-family: "poppinsregular"; font-size:17px;}
.clients p{color: rgb(246,115,93);font-family: "youngserifregular"; font-size:21px; margin:10px 0;}

